@tailwind base;
@tailwind components;
@tailwind utilities;

.center{
    @apply flex items-center justify-center;
}

/* Components */
.btn {
    @apply px-4 py-2 bg-blue-500 text-white rounded;
}

/* Apply styles when input is autofilled */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: #000;
}

/* Optional: Remove the default background color of the input field */
input:-webkit-autofill {
    background-color: transparent !important;
}
