@tailwind base;
@tailwind components;
@tailwind utilities;

.center{
    @apply flex items-center justify-center;
}

/* Apply styles when input is autofilled */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: #000;
}

input:-webkit-autofill {
    background-color: transparent !important;
}

::-webkit-calendar-picker-indicator {
    filter: invert(0.6);
}

.side{
    @apply h-12 bg-gray-100 rounded-lg mb-2;
}

.side> a{
    @apply flex gap-3 h-full px-4 items-center;
}

.active{
    @apply bg-gray-200 text-blue-600;
}

.custom-badge{
    @apply absolute top-1 right-1 h-[6px] w-[6px] bg-blue-500 text-white text-[9px] font-bold rounded-full flex items-center justify-center ring ring-white;
}

.sent-message{
    @apply rounded-t-2xl rounded-bl-2xl bg-blue-500 text-white p-1 px-4;
}

.received-message{
    @apply rounded-t-2xl rounded-br-2xl bg-gray-200 text-gray-700 p-1 px-4;
}

.received-message-attachment{
    @apply rounded-b-2xl rounded-tr-2xl bg-gray-200 text-gray-700 p-1 mt-1 px-4;
}

.sent-message-attachment{
    @apply rounded-b-2xl rounded-tl-2xl bg-blue-500 text-white p-1 mt-1 px-4;
}

.message-input{
    @apply w-full rounded-md px-12 border-2 border-gray-300 p-3 ring-1 ring-gray-300 ring-offset-1 transition-all duration-300 ease-in-out focus:border-blue-300 focus:outline-none bg-gray-200 text-gray-800;
}
