@tailwind base;
@tailwind components;
@tailwind utilities;

.center{
    @apply flex items-center justify-center;
}

/* Apply styles when input is autofilled */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: #000;
}

input:-webkit-autofill {
    background-color: transparent !important;
}

::-webkit-calendar-picker-indicator {
    filter: invert(0.6);
}

.side{
    @apply h-12 bg-gray-100 rounded-lg mb-2;
}

.side> a{
    @apply flex gap-3 h-full px-4 items-center;
}

.active{
    @apply bg-gray-200 text-blue-600;
}

.custom-badge{
    @apply absolute top-1 right-1 h-[6px] w-[6px] bg-blue-500 text-white text-[9px] font-bold rounded-full flex items-center justify-center ring ring-white;
}
